@charset "UTF-8";

@font-face {
    font-family: 'gameria';
    src: url('fontes/GAMERIA.ttf');
}

@font-face {
    font-family: 'gameplay' ;
    src: url('fontes/Gameplay.ttf');
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(4, 8, 49);
}
.front{
    display: grid;
    grid-template-areas:
     "players_front colors"
     "play play"
     ;
     grid-template-rows: 70% 30%;
    background-color: rgba(255, 255, 255, 0.276);
    width: 100%;
    height: 100%;
}
.players_front{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: players_front;
}
.players_front .division{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 17em;
}
.division > section{
    width: 24em;
}
.players_select{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.178);
    height: 16em;
    box-shadow: 2px 2px 7px rgba(255, 249, 249, 0.073);
}
.players_select > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'gameplay';
    color: rgba(255, 255, 255, 0.514);
    height: 6em;
    width: 8em;
    background-image: linear-gradient(to bottom, violet, blueviolet);
    margin: 1.22em;
    position: relative;
    transition: 0.3s ease-in-out;
}

.players_select > div::after{
    content: " ";
    width: 0%;
    height: 4px;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.8s ease-in-out;
    
   
}

.players_select > div:hover::after{
    width: 100%;
}
.players_select >div:hover{
    color: rgba(255, 255, 255, 0.779);
}
.colors_card{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: colors;
}
.colors_card .division{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18em;
    height: 100%;
    
}
.colors{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.178);
    height: 16em;
    box-shadow: 2px 2px 7px rgba(255, 249, 249, 0.073);
}
.line_color{
    display: flex;
    margin-bottom:1em ;

}
.line_color> div{
    background-color: rgb(255, 133, 34);
    padding: 1.3em;
    margin: 0.6em;
    margin-top: 0;
    transition: 0.27s ease-in-out;
}

.line_color> div:hover{
    opacity: 0.8;
}
.player_name, .title_colors{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.178);
    margin-bottom: 1em;
    height: 4em;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, blueviolet, violet) ;
    border-image-slice: 1;
}
.player_name >p, .title_colors > p {
    font-family: 'gameplay';
    font-size: 1.4em;
    font-weight: bold;
    color: white;
}
.play{
    grid-area: play;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_play{
    font-size: 1.5em;
    background: blueviolet;
    font-family: 'gameria';
    padding: 1.2em 6em;
    border: none;
    color: rgba(255, 255, 255, 0.621);
    transition: 0.6s ease-in-out;
}
.button_play:hover{
    top: -0.3em;
    transform: scale(1.1);
    color: rgba(255, 255, 255, 0.835);
}




