@charset "UTF-8";

@font-face {
    font-family: 'gameria';
    src: url('fontes/GAMERIA.ttf');
}

@font-face {
    font-family: 'gamer' ;
    src: url('fontes/gamer_2/Gamer.ttf');
}

@font-face {
    font-family: 'gameplay';
    src: url('fontes/Gameplay.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(17, 4, 49);
}
.front{
    display: grid;
    grid-template-areas:
     "players_front colors"
     "play play"
     ;
    background-color: rgba(128, 128, 128, 0.065);
    grid-template-rows: 70% 30%;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}
.players_front{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: players_front;
}
.players_front .division{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 17em;
}
.division > section{
    width: 24em;
}
.players_select{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.178);
    height: 16em;
    box-shadow: 2px 2px 7px rgba(255, 249, 249, 0.073);
}
.players_select > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'gameplay';
    color: rgba(255, 255, 255, 0.514);
    height: 6em;
    width: 8em;
    background-image: linear-gradient(to bottom, violet, blueviolet);
    margin: 1.22em;
    position: relative;
    transition: 0.3s ease-in-out;
}

.players_select > div::after{
    content: " ";
    width: 0%;
    height: 4px;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.8s ease-in-out;
    
   
}

.players_select > div:hover::after{
    width: 100%;
}
.players_select >div:hover{
    color: rgba(255, 255, 255, 0.779);
}
.colors_card{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: colors;
}
.colors_card .division{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18em;
    height: 100%;
    
}
.colors_p1, .colors_p2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.178);
    height: 16em;
    box-shadow: 2px 2px 7px rgba(255, 249, 249, 0.073);
}

.colors_p2{
    
    display: none
}
.line_color{
    display: flex;
    margin-bottom:1em ;

}
.line_color> div{
    background-color: rgb(255, 133, 34);
    padding: 1.3em;
    margin: 0.6em;
    margin-top: 0;
    transition: 0.27s ease-in-out;
}

.line_color> div:hover{
    opacity: 0.8;
}
.player_name, .title_colors,.title_modes_card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2em;
    background-color: rgba(255, 255, 255, 0.178);
    margin-bottom: 1em;
    height: 4em;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, blueviolet, violet) ;
    border-image-slice: 1;
}
.title_colors > p {
    font-family: 'gameplay';
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    letter-spacing: 0.1em;
}
.button{
    grid-area: play;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_next,.button_play{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    background: blueviolet;
    font-family: 'gameria';
    padding: 1.2em 6em;
    border: none;
    color: rgba(255, 255, 255, 0.621);
    transition: 0.6s ease-in-out;
}
.button_next:hover, .button_play:hover{
    top: -0.3em;
    transform: scale(1.1);
    color: rgba(255, 255, 255, 0.835);
}

.name1, .name2, .player_name > p{
    width: 90%;
    height: 90%;
    font-family: 'gameplay';
    border: none;
    text-align: center;
    background:  transparent;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    transition: 0.2s ease-in-out;
    letter-spacing: 0.1em;
    text-align: start;
    
}
.name1, .name2{
    display: none;
}
.name1::placeholder, .name2::placeholder{
    color: rgba(255, 255, 255, 0.784);
    font-size: 0.9em;
    text-align: start;
}
.name1:focus, .name2:focus{
    
    outline: none;
    
}
.msg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modes{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.065);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
}

.modes_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30em;
    height: 100%;
}
.title_modes_card >h2{
    font-family: 'gameplay';
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    letter-spacing: 0.1em;
}
.title_modes_card{
    width: 100%;
}

.modes_options{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.178);
}
.option{
    display: flex;
    align-items: center;
    padding:2.2em 2em ;
    background-image: linear-gradient(to bottom, violet, blueviolet);
    backdrop-filter: opacity(20%);
    height: 60%;
    width: 90%;
    border-radius: 0.324em;
    font-family: 'gameplay';
    color: rgba(255, 255, 255, 0.547);
    transition: 0.3s ease-in-out;
}
.option:hover{
    color: rgba(255, 255, 255, 0.64);
    transform: scale(1.04);
}
.modes_card .button{
    margin-top: 4em;
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    height: 100vh;
    z-index: -1;
    margin-top:-100vh ;
    width: 100% ;
    
}
.players{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}
.player{
    text-align: center;
    font-family: 'gamer';
    color: white;
    font-size: 1.6em;
}
.player > p{
    margin-bottom: 8px;
}
.player_one, .player_two{
    position: relative;
    z-index: -1 !important;
    padding: 0.6em;
    color: rgba(255, 255, 255, 0.363);
    background: linear-gradient(to top, blueviolet, violet) ;
}
.flash_bar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2em;
    background-color: rgba(255, 255, 255, 0.178);
    margin-bottom: 1em;
    height: 6em;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, blueviolet, violet,rgb(90, 164, 189)) ;
    border-image-slice: 1;
    width: 100%;
}
.progress_players{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

 progress::-webkit-progress-bar {
     background: black;
     border-radius: 50px;
     padding: 2px;
 }
 progress::-moz-progress-bar {  
     background: black;
     border-radius: 50px;
     padding: 2px;
 }
 progress[value] {
     appearance: none; 
     border: none;       
     }
progress[value]::-webkit-progress-value {
    background-image:linear-gradient(to right, blueviolet, violet,rgb(122, 196, 220));
    border-radius: 3em;
    transition:  1s ease-in-out;
}
.progress_player{
    display: flex;
    width: 50%;
    color: white;
    font-family: 'gameria';
}






